doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheet/styles.css')
    script.
      window.glWave = { accessToken:'#{accessToken}' }
body
  block content
    h1= title
    p Welcome to #{title}, 
    p #{accessToken}
    p #{refreshToken}
    p #{profile}
    div#people

    script(type='text/javascript' src='/js/bundle.js')